/*** Panneau ***/
#panneau32 { background: url(../images/mousse.jpg) center center; }

#panneau33 { background-color: #0085ff; height: 100%; padding: 20px 0 0 0; }
#panneau33:hover { background: #4aa8ff;}

#panneau42 { background-color: #ff0720; height: 100%; padding: 20px 0 0 0; }
#panneau42:hover { background: #ff7482; }

#panneau43 { background: url(../images/saut.jpg) center center; }

#panneau44 { background: url(../images/showtime.jpg) center center; background-size: auto 160px; }

#panneau45 { background: url(../images/plage.jpg) center center; }

#panneau52 { background: url(../images/orange.jpg) center center; }

#panneau53 { background: #00b726; height: 100%; padding: 20px 0 0 0; }
#panneau53:hover { background: #32cb51; }

#panneau54 { background: url(../images/soiree.jpg) center center; }

/*** titres des panneaux ***/
.title-panneau {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}

.sub-title-panneau {
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (max-width: 765px) {
    #panneau41 {
        background: url(../images/showtime-mobile.png) center center;
    }
}

/*** bungalows ***/

.bungalow {
	height: auto;
}

.nomBungalow {
	font-family: 'Oswald', sans-serif;
	font-size: 1.4em;
	margin: 0 0 12px 0;
}

.bungalows {
	height: 59px;
	width: 72px;
	margin: 0 auto;
}

.bungalow.common {
    background: url('../images/bungalow.png') no-repeat -9px -1px;
    width: 72px;
	height: 59px;
}

.bungalows.vert {
    background: url('../images/bungalow.png') no-repeat -9px -1px;
    width: 72px;
	height: 59px;
}

.bungalows.rose {
    background: url('../images/bungalow.png') no-repeat -86px -1px;
	width: 72px;
	height: 59px;
}

.bungalows.gris {
	background: url('../images/bungalow.png') no-repeat -163px -1px;
	width: 71px;
	height: 59px;
}

.bungalows.bleuCiel {
	background: url('../images/bungalow.png') no-repeat -239px -1px;
	width: 72px;
	height: 59px;
}

.bungalows.rouge {
	background: url('../images/bungalow.png') no-repeat -316px -2px;
	width: 71px;
	height: 58px;
}

.bungalows.orange {
	background: url('../images/bungalow.png') no-repeat -392px -1px;
	width: 72px;
	height: 59px;
}

.bungalows.bleuMarine {
	background: url('../images/bungalow.png') no-repeat -469px -1px;
	width: 72px;
	height: 59px;
}


.informationBungalow {
	color: white;
	text-align: center;
	padding: 25px 0;
}

.nombrePresent, .nombreCapacite {
	font: 1.4em;
	background-color: white;
	color: black;
	font-size: 16px;
	padding: 2px;
	margin: 0 5px;
}

.panneauSelection {
	width: 100%;
	height: 20px;
	margin: 5px 0 10px 0;
}

.personnePresente {
    height: 135px;
    border-radius: 5px;
    background: #ffeee9;
}

/*** Couleur bungalow ***/
.bleuMarine {
	background-color: #4a83ff;
	color: #4a83ff;
}

.orange {
    background: #f15a24;
    color: black;
}

.rouge {
    background-color: #ff1616;
    color: #ffffff;
}

.vert {
    background: #00c200;
    color: black;
}

.rose {
    background: #ff88c1;
    color: white;
}

.gris {
    background: #b3b3b3;
    color: white;
}

.bleuCiel {
    background: #0adeff;
    color: black;
}