@charset "utf-8";
/* CSS Document */

a{
	text-decoration:none;
	color:inherit;
}

p{
	margin-bottom:10px;
}

h1
{
	font-size:24px;
	text-align:center;
	text-decoration:underline;
	padding-bottom: 25px;
}

*{
margin:0;
padding:0;
}

fieldset{
}

html,body{
	width:100%;
	height:100%;
	min-width:100%;
	min-height:100%;
	background-color: #e9e8e8;
}

#Bandeau{
	height:100px;
	width:100%;
	min-width:1024px;
	background-color: #ff5caf;
}

#logo{
	float:left;
	padding-left:5%;
}

#wrap-menu{
	color:#FFF;
	margin: 0 auto 0 auto;
	width: 750px;
	height: 100%;
}

.menu {
	padding: 50px 0 0 0;
	height: 50px;
	margin: 0;
}

.element_menu{
	display: inline;
	padding-left:10px;
	padding-right:10px;
	margin-left:30px;
	font-size: 2em;
}

.element_menu:hover{
	background-color:#FFF;
	color:#ff5caf;
}

#contenu{
	width: 1000px;
	height: 700px;
	margin: 0 auto 0 auto;
	background-color: blue;
}

#fiche{
	width:800px;
	text-align:left;
	margin: 0 auto;
	padding: 25px 10px 25px;
	background-color: #8f8f8f;
	border:solid double #FFFFFF;
	color: #353131;
}

#fiche-compta{
	width:1000px;
	text-align:left;
	margin: 0 auto;
	padding: 25px 10px 25px;
	background-color: #8f8f8f;
	border:solid double #FFFFFF;
	color: #353131;
}

#track
{
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	width:auto;
	border-collapse: separate;
	border-spacing: 20px;
}

.sliclicked
{
	border: solid 5px #0000FF;
	background-color:#FFFFFF;
	width:100px;
	height: 50px;
	margin-left:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 15px;
	font-size:18px;
	color: #0000FF;
}

.sli
{
	border: solid 5px #999999;
	background-color: #E0E0E0;
	width:100px;
	height: 50px;
	margin-left:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 15px;
	font-size:18px;
	color: #999999;
}

.sli:hover
{
	border: solid 5px #00BB42;
	color: #00BB42;
	background-color: #B9FFB7;
	cursor:pointer;
}

.sliclicked:hover
{
	cursor:default;
}


#Droite{
	text-align:left;
	position:relative;
	width:510px;
	float:right;
	background-color: #FFF;
}

#Gauche{
	position:relative;
	float:left;
	width:450px;
	background-color: #FFF;
}

#formulaire_recherche
{
	padding-top:10px;
}

#activite_recente
{
	padding-bottom:20px;
	color: #E2E2E2;
}

#titre_activite_recente
{
	padding-left:10px;
	padding-bottom:15px;
}


.activite
{
	list-style:none;
}

.element_activite
{

	font-size:12px;
	padding-right:5px;
	padding-left:5px;
}

.element_inscrit
{

	font-size:20px;
	color:#FFFFFF;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:10px;
}

#formulaire{
	background-color:#FFF;
}

#verif_rib_incomplet{
	display:block;
	color:#FF6600;
}

#verif_rib_vrai{
	display:none;
	color:#009900;
}

#verif_rib_faux{
	display:none;
	color: #F00;
}

/* Caroussel */

#container{
	width:100%;
	height:450px;
	background-repeat:no-repeat;
	background-position:center;
}

.stepcarousel{
	margin:auto;
	position: relative; /*leave this value alone*/
	overflow: scroll; /*leave this value alone*/
	width: 600px; /*Width of Carousel Viewer itself*/
	height: 450px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}

.stepcarousel .panel{
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	margin: 5px; /*margin around each panel*/
	margin-right:100px;
	width: 560px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	height:430px;
	background-color:#FFFFFF;
	border:solid 5px #000099;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
}

.suivant
{
	cursor: pointer;
	float:right;
	color: #009;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
	padding-right:10px;
	top:400px
}


.precedent
{
	cursor: pointer;
	float:left;
	color: #009;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
	padding-left:10px;
	top:400px
}

.radio
{
	padding:5px;
}

#submit_crea
{
	text-align:center;
	margin-top:80px;
	margin-left:130px;
	height:50px;
	width:300px;
}

.obligatoire
{
	color: #C00;
}

.question
{
	color:#000000;
}

.reponse
{
	color:#FFFFFF
}
#ajout{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	color: #00A439;
	font-weight:bold;
	background-color: #B9FFB7;
	border:solid 3px #00A439;
}

#liste_recherche
{
	background-color:#B9C7FF;
	top:5px;
	width:400px;
	height:400px;
	overflow-y:scroll;
}

#liste_ajout
{
	background-color: #B9C7FF;
	width:400px;
	top:55px;
	left:600px;
	height:300px;
	overflow-y:scroll;
}

#navig
{
	top:100px;
	left:465px;
	width:100px;
	height:auto;
	text-align:center;
}

#select_search
{
	top:30px;
	left:300px;
}

#select_ajout
{
	top:30px;
	left:870px;
}

#moar
{
	width:550px;
	height:95px;
	color:#FFFFFF;
}

#montant {
	position:absolute;
	top:25px;
	right:10px;
}
#montant_lab {
	position:absolute;
	top:25px;
	right:70px;
}

#motif {
	position:relative;
	margin-top:5px;
	margin-left:5px;
	margin-bottom:5px;
}

#sub {
	position: absolute;
	top:65px;
	right:10px;
}

/* ============================================

				Form login

=============================================== */

#login {
	margin:150px auto 0 auto;
	width:500px;
	height:400px;
	background-color: #ff31a9;
	border-radius: 10px;
	box-shadow: 0px 3px 5px #444;
}

#form_log {
	width: 50%;
	margin: 0 auto;
	color:#FFFFFF;
	text-align: right;
	font-size: 1.2 em;
	margin: 0 auto;
}

/* ====================================================

					Prix BDE

======================================================= */

#afficheprixbde
{
	font-size:16px;
	font-weight:bold;
	color:#03F;
}

#afficheprixbde2
{
	font-size:16px;
	font-weight:bold;
	color:#03F;
}

#afficheprixwei
{
	font-size:16px;
	font-weight:bold;
	color:#03F;
}

#afficheprixwei2
{ƒ
	font-size:16px;
	font-weight:bold;
	color:#03F;
}

#afficheprixbbq
{
	font-size:16px;
	font-weight:bold;
	color:#03F;
}

.listeprop
{
	color:#FFF;
}

.selectldap
{
	font-size:20px;
}

.selectldap:hover
{
	cursor:pointer;
	color:#000099;
	background-color:#AECDFF;
	border: solid 3px #000099;
}